@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General styles */

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #ffffff;
}

/* loading*/

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}

.wrapper-loading{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle-loading{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #21963B;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle-loading:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle-loading:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow-loading{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow-loading:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow-loading:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.wrapper-loading span{
  position: absolute;
  top:75px;
  width: 400px;
  font-family: Poppins;
  font-size: 20px;
  letter-spacing: 5px;
  color: #21963B;
}

/* end loading */

.body {
  margin: 0 50px;
  background: #ffffff;
}

.example {
  overflow-y: scroll;
  /* Tambahkan kemampuan untuk melakukan scrolling */
}

.example::-webkit-scrollbar {
  display: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: .4s all ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.active.fade-bottom {
  animation: fade-bottom .3s ease-in;
}

.active.fade-left {
  animation: fade-left .3s ease-in;
}

.active.fade-right {
  animation: fade-right .3s ease-in;
}

.active.fade-bottom2 {
  animation: fade-bottom .5s ease-in;
}

.active.fade-left2 {
  animation: fade-left .5s ease-in;
}

.active.fade-right2 {
  animation: fade-right .5s ease-in;
}

.active.fade-bottom3 {
  animation: fade-bottom .7s ease-in;
}

.active.fade-left3 {
  animation: fade-left .7s ease-in;
}

.active.fade-right3 {
  animation: fade-right .7s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* back to top */
.back-to-top {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  border-radius: 100%;
  background: #21963B;
  padding: 1rem 1.3rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
  animation: flutuar 2.5s linear infinite;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden-top {
  opacity: 0%;
}

.back-to-top-icon {
  width: auto;
  height: 4rem;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .back-to-top {
    right: 2rem;
    bottom: 3rem;
  }

  .back-to-top-icon {
    width: auto;
    height: 3rem;
    color: #ffffff;
  }
}
/*  */

/* progress bar */
.progress-bar {
  height: 0.5rem;
  background: #21963B;
  position: fixed;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: 5;
}

/*  */

/* cursor animation */
.cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #21963a9f;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.05s;
  z-index: 10;
}

.cursorInner {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #21963a9f;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  .cursor, .cursorInner {
    display: none;
  }
}

/*  */

/*  universal */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease,
    right 100ms 1750ms ease,
    margin-top 100ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
    right 100ms ease,
    margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #21963B;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked~.nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}

.nav ul li a {
  font-family: Poppins;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}

.nav ul li a:hover {
  text-decoration: none;
  color: #ffeba7;
}

.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}

.nav ul li a:hover:after {
  width: 100%;
}


.menu-icon:checked~.nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
    transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}



.logo {
  position: absolute;
  top: 60px;
  left: 50px;
  display: block;
  z-index: 9;
  transition: all 250ms linear;
}

.logo img {
  height: 56px;
  width: auto;
  display: block;
}



@media screen and (max-width: 991px) {

  .menu-icon:checked+label,
  .menu-icon:not(:checked)+label {
    right: 55px;
  }

  .logo {
    top: 40px;
    left: 30px;
  }

  .nav {
    right: 30px;
  }

  .nav ul li a {
    font-size: 6vh;
  }
}

/* intro */

.intro {
  display: flex;
  background: linear-gradient(0deg, #eee 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px 0px 100px 100px;
  padding: 130px 160px 130px 120px;
}

.text-intro {
  margin-right: 200px;
  padding: 60px 0;
  /* line-height: 52px; */
}

.tittle-intro {
  font-size: 55px;
  font-weight: 400;
  font-family: Poppins;
  color: #000000;
  max-width: 710px;
}

.hastag-intro {
  font-size: 23px;
  font-weight: 600;
  font-family: Poppins;
  padding-top: 13px;
}

.img-intro {
  width: 350px;
  height: 350px;
}

.desc-intro {
  display: flex;
  column-gap: 2rem;
  color: #1A8532;
}

.desc-intro1 {
  font-size: 40px;
  font-weight: 600;
}

.desc-intro2 {
  font-size: 40px;
  font-weight: 600;
}

.sub-desc-intro {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
}

.scroll-img {
  width: 22px;
  padding-top: 20px;
  animation: flutuar 2.5s linear infinite;
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.scroll-img:nth-child(2) {
  animation-delay: .2s;
}

@media screen and (max-width: 1260px) {
  .intro {
    padding: 170px 80px 130px 80px;
  }

  .text-intro {
    margin-right: 100px;
  }

  .img-intro {
    width: 330px;
    height: 330px;
  }

  .tittle-intro {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .intro {
    padding: 130px 50px 50px 50px;
  }

  .text-intro {
    margin-right: 100px;
  }

  .tittle-intro {
    font-size: 38px;
  }

  .hastag-intro {
    font-size: 18px;
  }

  .img-intro {
    width: 280px;
    height: 280px;
  }

  .desc-intro {
    display: flex;
    column-gap: 2rem;
    color: #1A8532;
  }

  .desc-intro1 {
    font-size: 30px;
    font-weight: 600;
  }

  .desc-intro2 {
    font-size: 30px;
    font-weight: 600;
  }

  .sub-desc-intro {
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
  }

  .scroll-img {
    width: 22px;
    padding-top: 20px;
    animation: flutuar 2.5s linear infinite;
  }

  @keyframes flutuar {
    0%, 100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .scroll-img:nth-child(2) {
    animation-delay: .2s;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    padding: 130px 50px 50px 50px;
  }

  .text-intro {
    margin-right: 50px;
    padding: 30px 0;
  }

  .tittle-intro {
    font-size: 35px;
  }

  .hastag-intro {
    font-size: 15px;
  }

  .img-intro {
    width: 260px;
    height: 260px;
  }

  .desc-intro {
    display: flex;
    column-gap: 2rem;
    color: #1A8532;
  }

  .desc-intro1 {
    font-size: 30px;
    font-weight: 600;
  }

  .desc-intro2 {
    font-size: 30px;
    font-weight: 600;
  }

  .sub-desc-intro {
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
  }

  .scroll-img {
    width: 22px;
    padding-top: 20px;
    animation: flutuar 2.5s linear infinite;
  }

  @keyframes flutuar {
    0%, 100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .scroll-img:nth-child(2) {
    animation-delay: .2s;
  }
}

@media only screen and (max-width: 650px) {
  .intro {
    padding: 130px 30px 50px 30px;
  }

  .text-intro {
    margin-right: 30px;
  }

  .tittle-intro {
    font-size: 28px;
  }

  .hastag-intro {
    font-size: 12px;
  }

  .img-intro {
    width: 220px;
    height: 220px;
  }

  .desc-intro {
    display: flex;
    column-gap: 1rem;
    color: #1A8532;
  }
}

@media only screen and (max-width: 550px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .text-intro {
    margin-right: 0px;
    /* padding: 30px 0; */
  }

  .tittle-intro {
    font-size: 25px;
  }

  .hastag-intro {
    font-size: 10px;
  }
}

/* end intro */

/* news */
.news {
  margin: 4rem 0;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .news {
    padding-top: 0;
    margin: 2rem 0;
  }

  .slick-slide {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .news {
    padding-top: 0;
    margin: 1.5rem 0;
  }

  .slick-slide img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .slick-slide img {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .news {
    padding: 10px 0;
  }

  .slick-slide img {
    width: 100%;
  }
}

/*  */

/* about */

.about {
  text-align: center;
  width: 100%;
  margin: 0;
}

.body-about {
  padding: 9rem 0 0 0;
  background: url(https://drive.google.com/uc?export=view&id=1HaCNf3R_hfEmZwstKFyMcSYmSTr0XrFe);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed
}

.test-about {
  position: relative;
  margin-bottom: -5px;
}

.tittle-about {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.gambar-about {
  margin-top: 50px;
}

.img-about {
  width: 15%;
  height: auto;
}

.desc-about {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 1.5rem 13rem 15rem 13rem;
}

@media only screen and (max-width: 1300px) {
  .desc-about {
    padding: 1rem 9rem 13rem 9rem;
  }

  .img-about {
    width: 20%;
    height: auto;
  }
}

@media only screen and (max-width: 1175px) {
  .desc-about {
    padding: 1rem 7rem 10rem 7rem;
  }

  .img-about {
    width: 22%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .gambar-about {
    margin-top: 30px;
  }

  .desc-about {
    font-size: 18px;
    padding: 1rem 3rem 9rem 3rem;
  }

  .img-about {
    width: 24%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .img-about {
    width: 30%;
    height: auto;
  }

  .desc-about {
    font-size: 16px;
    padding: 1rem 2rem 7rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .gambar-about {
    margin-top: 20px;
  }

  .img-about {
    width: 40%;
    height: auto;
  }

  .desc-about {
    font-size: 14px;
    padding: 1rem 1rem 7rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .gambar-about {
    margin-top: 10px;
  }

  .img-about {
    width: 50%;
    height: auto;
  }

  .desc-about {
    font-size: 13px;
    padding: 1rem 0.5rem 5rem 0.5rem;
  }
}

/*  */

/* best  */
.container-best {
  margin: 150px 0 0 0;
}

.tittle-best {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 36px;
  color: #21963B;
}

.con-img-best {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.best-left {
  display: flex;
  column-gap: 20px;
}

.best-top {
  margin-bottom: 20px;
}

.best-right {
  column-gap: 20px;
  display: flex;
}

.img-left1 {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.img-best {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .con-img-best {
    column-gap: 10px;
    flex-direction: column;
  }
  
  .best-left {
    display: flex;
    column-gap: 10px;
  }
  
  .best-top {
    margin-bottom: 10px;
  }
  
  .best-right {
    column-gap: 10px;
    display: flex;
  }
}

/*  */

/* menu */

.menu {
  max-width: 1240px;
  margin: 0 auto;
  right: 50px;
  left: 50px;
}

@media only screen and (max-width: 700px) {
  .menu {
    margin: 0;
  }

  .body {
    margin: 0 20px;
  }
}

/* tabbar */
#tabbar-menu {
  margin-top: 130px;
}

.btn-menu {
  padding: 10px 24px;
  background-color: #ffffff00;
  border: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.708);
  cursor: pointer;
}

.btn-menu a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.active-tabbar, .btn-menu:hover {
  background-color: #21963B;
  border-radius: 50px;
  font-weight: 600;
  color: white;
}

@media only screen and (max-width: 580px) {
  #tabbar-menu {
    margin-top: 80px;
  }

  .btn-menu {
    padding: 8px 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .btn-menu {
    padding: 8px 16px;
    font-size: 16px;
  }
}

.jika{
  text-align: center;
  font-size: 12px;
  color: #444;
  margin-top: 10px;
}
/* end tabbar */
/* new */

.new {
  margin: 105px 0;
}

.con-new {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 50px;
  margin-top: 36px;
}

.tittle-new {
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 30px;
  color: #21963B;
}

.img-menu {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .new {
    margin: 80px 0;
  }
}

@media screen and (max-width: 500px) {
  .new {
    margin: 50px 0;
  }
  .con-new {
    column-gap: 10px;
  }
}

/* end new */

.title-product {
  font-size: 3.5rem;
  color: #1A8532;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 50px;
}

.card-product {
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  cursor: pointer;
  content: normal;
}

.card-product img {
  width: 100%;
  height: auto;
  transform: scale(.95);
}

.card-product:hover img {
  transform: scale(1);
}

@media only screen and (max-width: 1200px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 20px;
  }

  .menu {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 850px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* gap: 10px; */
  }

  .body {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 450px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    /* gap: 10px; */
  }

  .menu {
    margin: 0;
  }
}

.card-product h3 {
  padding: .5rem 0;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}

.card-product:hover h3 {
  color: #27ae60;
}

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes delay {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

.preview-card {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #eee;
  position: relative;
  margin: 2rem;
  width: 40rem;
  animation: delay .7s ease-in-out forwards;
}

.preview-card.active-preview {
  display: inline-block;
}

.preview-card img {
  max-height: 18.5rem;
}

.fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.fa-times:hover {
  transform: rotate(90deg);
}

.preview-card h3 {
  color: #444;
  padding: .5rem 0;
  font-size: 2.5rem;
}

.stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.stars i {
  color: #27ae60;
}

.preview-card p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: #777;
}

.price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #444;
}

.buttons a.grab:hover {
  background: #029837;
  color: #fff;
}

.buttons a.gojek:hover {
  background: #EB2836;
  color: #fff;
}

.buttons a.shopee:hover {
  background: #EE4E2E;
  color: #fff;
}


@media (max-width:991px) {

  html {
    font-size: 55%;
  }

}

@media (max-width:768px) {

  .preview-card img {
    height: 25rem;
  }

}

#tea {
  margin-top: 70px;
}

#yakult {
  margin-top: 70px;
}

#coffee {
  margin-top: 70px;
}

#milkshake {
  margin-top: 70px;
}

#cheese {
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  #tea {
    margin-top: 40px;
  }
  
  #yakult {
    margin-top: 40px;
  }
  
  #coffee {
    margin-top: 40px;
  }
  
  #milkshake {
    margin-top: 40px;
  }
  
  #cheese {
    margin-top: 40px;
  }  
}


/* end menu */

/* testimonial */
/* === Google Font Import - Poppins === */
.testimonial {
  margin: 100px 0 0 0;
}

@media only screen and (max-width: 900px) {
  .testimonial {
    margin: 80px 0;
  }
}

.con-testimonial {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.tittle-testimonial {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #21963B;
  text-align: center;
  margin-bottom: 36px;
}

.swiper {
  width: auto;
  height: auto;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #21963B;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.con-testimonial .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #21963B;
}

.con-testimonial .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.name-profession .deskripsi {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i {
  font-size: 18px;
  margin: 0 2px;
  color: #21963B;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: #27ae60;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  background: #029837;
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 29px;
  border-radius: 25px;
  background: #029837;
}

.swiper-button-next, .swiper-button-prev {
  opacity: 0.7;
  color: #029837;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
  color: #21963B;
}

/* end testimonial */

/* contact */

.container-contact {
  flex: 0 1 700px;
  margin: 50px auto;
  max-width: 800px;
}

.screen-contact {
  position: relative;
  background: #ececec;
  border-radius: 15px;
}

.screen-contact:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header-contact {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left-contact {
  margin-right: auto;
}

.screen-header-button-contact {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: #000000;
}

.screen-header-button-contact.close {
  background: #ed1c6f;
}

.screen-header-button-contact.maximize {
  background: #e8e925;
}

.screen-header-button-contact.minimize {
  background: #74c54f;
}

.screen-header-right-contact {
  display: flex;
}

.screen-header-ellipsis-contact {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body-contact {
  display: flex;
}

.screen-body-item-contact {
  flex: 1;
  padding: 50px;
}

.screen-body-item-contact.left {
  display: flex;
  flex-direction: column;
}

.app-title-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #21963B;
  font-size: 26px;
}

.app-title-contact:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #21963B;
}

.app-contact-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group-contact {
  margin-bottom: 15px;
}

.app-form-group-contact.message {
  margin-top: 40px;
}

.app-form-group-contact.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control-contact {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control-contact::placeholder {
  color: #000000;
}

.app-form-control-contact:focus {
  border-bottom-color: #ddd;
}

.app-form-button-contact {
  margin-top: 10px;
  background: none;
  /* border: none; */
  padding: 5px 10px;
  border-radius: 20px;
  /* background: #989898; */
  color: #000000;
  border: 2px solid #666;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button-contact:hover {
  color: #fff;
  background: #444;
}

@media screen and (max-width: 520px) {
  .screen-body-contact {
    flex-direction: column;
  }

  .screen-body-item-contact.left {
    margin-bottom: 30px;
  }

  .app-title-contact {
    flex-direction: row;
  }

  .app-title-contact span {
    margin-right: 12px;
  }

  .app-title-contact:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body-contact {
    padding: 40px;
  }

  .screen-body-item-contact {
    padding: 0;
  }
}

/* end contact */

/* maps */

/* end maps */

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 120px;
  background-color: #fff;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.footer-text > img {
  margin-bottom: 10px;
  max-width: 100px;
  height: auto;
}

.footer-text > p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/* end footer */

/* instruction */
.instruction-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(0); */
  animation: fadeIn 0.5s ease-in-out forwards;
  position: fixed;
}

.instruction-container {
  width: 700px;
  height: 550px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  transform: scale(0);
  animation: scaleIn 0.5s ease-in-out forwards;
  animation-delay: .5s;
}

.instruction-container .container {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
}

.container .instruction {
  width: 700px;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  transition: .5s;
}

.container .skip {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  margin-right: 10px;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  opacity: .4;
  z-index: 1;
}

.skip p {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.skip img {
  width: 30px;
  height: 20px;
  filter: invert(100%);
  transition: .5s;
}

.skip:hover img {
  padding-left: 10px;
}

.content-p {
  max-width: 352px;
  margin: 15px 0 40px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #999999;
}

.content-p-tittle {
  max-width: 411px;
  margin: 15px 0 40px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #21963B;
}

.content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.btn .button {
  cursor: pointer;
  margin: 0 10px;
}

#mulai-tes {
  position: relative;
  line-height: 1;
  width: auto;
  height: 40px;
  padding: 5px 20px;
  background-color: #21963B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  border-right: 1px solid #000;
  border-radius: 5px;
}

#mulai-tes > p {
  font-size: 18px;
  font-style: normal;
}

#mulai-tes .block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: -1;
  transition: 0.5s;
}

#mulai-tes:hover .block {
  transform: translateX(0);
}

#mulai-tes:hover {
  color: #000;
  font-weight: 500;
}
/* end instruction */

@media (max-width: 768px) {
  /* responsive instruction */
  .instruction-bg {
    padding: 50px 20px;
    height: 100%;
  }
  
  .instruction-container {
    width: 100%;
    /* height: 100%; */
  }

  .container .instruction {
    padding: 0;
    width: 92.5vw;
    height: 100%;
  }

  .content-p {
    padding: 0 10px;
    padding-right: 25px;
    width: 100%;
    margin: 40px auto;
    font-size: 14px;
  }

  .content-p-tittle {
    padding: 0 10px;
    padding-right: 25px;
    width: 100%;
    margin: 40px auto;
    font-size: 20px;
  }

  .instruction .content{
    width: 100%;
  }
  /* end responsive instruction */

#mulai-tes{
  height: 30px;
  padding: 20px 20px;
}

#mulai-tes > p {
  font-size: 16px;
  font-style: normal;
}
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* create scaleOut animation */
@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0%{
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* create fade out animation */
@keyframes fadeOut {
  0%{
    background-color: rgba(0, 0, 0, 0.5);
  }
  90% {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(0);
  }
}